// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-image($color1, $color2) {
  -webkit-border-image: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from($color1),
    to($color2)
  );
  -webkit-border-image: -webkit-linear-gradient(left, $color1, $color2);
  -moz-border-image: -moz-linear-gradient(left, $color1, $color2);
  -o-border-image: -o-linear-gradient(left, $color1, $color2);
  border-image: -webkit-linear-gradient(left, $color1, $color2) 20;
}

@mixin background-image($color1, $color2) {
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from($color1),
    to($color2)
  );
  background-image: -webkit-linear-gradient(left, $color1, $color2);
  background-image: -moz-linear-gradient(left, $color1, $color2);
  background-image: -o-linear-gradient(left, $color1, $color2);
}

@mixin content-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-transform($position, $top, $transform) {
  position: $position;
  top: $top;
  transform: translateY($transform);
}

//Button mixins for solid and transparent buttons

@mixin button() {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: $primary-radius;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }
}

@mixin transp-button($color1) {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: $primary-radius;
  font-size: 1.2rem;
  border: 4px solid $color1;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color1;
  transition: 0.1s all ease;

  &:hover {
    cursor: pointer;
  }
}

/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop

  $breakpoint argument choices:
  - phone 
  - tab-port 
  - tab-land
  - big-desktop

  ORDER = Base + typography > general layout + grid > page layout > components

  1em = 16px;
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if ($breakpoint == tab-port) {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if ($breakpoint == tab-land) {
    // 1200px
    @media (max-width: 62.5em) {
      @content;
    }
  }

  @if ($breakpoint == big-desktop) {
    // 1800px
    @media (max-width: 112.5em) {
      @content;
    }
  }
}
