// default font stack
$font-stack: 'Source Sans Pro', sans-serif;

// these can be used with map-get
$colors: (
  'text': #4C4C4C,
  'header': #171717,
  'small': #6F6D6D,
);

$navbar-height: 7rem;
$footer-height: 7rem;
$section-margin: 7rem;
$main-padding: 3rem 7rem;

//WIDTHS AND HEIGHTS
$input-width: 40rem;
$input-height: 5rem;

// BORDER
$main-box: 1px 1px 2px #ddd;

// BORDER RADIUS
$primary-radius: 10rem;