@import "../shared/utils/all";

.footer {
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// .footer {
//   background: color(text);
//   padding: $footer-margin;
//   font-size: 1.6rem;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: 1fr;
// }

// .columns {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: $footer-margin;
//   padding: 0 $footer-margin;
//   margin: 0 $footer-margin;
//   border-left: 1px solid rgba(color(text), 0.3);
//   border-right: 1px solid rgba(color(text), 0.3);

//   @media(max-width: 1025px) {
//     padding: 0 5rem;
//     margin: 0 4rem;
//   }

//   @include respond(tab-land) { // width < 600?
//     grid-gap: $footer-margin-small;
//     padding: 0 $footer-margin-small;
//     margin: 0 $footer-margin-small;
//   }


//   @include respond(phone) { // width < 600?
//     grid-template-columns: repeat(3, min-content);
//     grid-gap: $footer-margin-small;
//     padding: 0 $footer-margin-small;
//     margin: 0 $footer-margin-small;
//   }
// }