@import '../utils/all';

/* styles shared across form fields, such as styling for help text */
.help {
  padding: 0.5rem 1rem;
}

.disabled {
  background: color(grayLight) !important;
  cursor: default !important;
}