@import '../utils/all';

/* styles shared across form fields, such as styling for help text */
.help {
  padding: 0.5rem 1rem;
}

.disabled {
  background: color(grayLight) !important;
  cursor: default !important;
}

/* special apply code input styling for pre-filled code field */
.prefilledApplyCode {
  border-color: color(text) !important;
}