@import "../../shared/utils/all";

// Button extension
%btn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: $primary-radius;
  font-size: 1.2rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}


// Styles for the primary button styles
.blue {
  @include button;
  background: linear-gradient(
    to top,
    color(secondary-dark),
    color(secondary-light)
  );
  color: #fff;

  a {
    color: #fff;
    font-weight: 500;
  }

  &:hover {
    background: linear-gradient(
      to top,
      lighten(color(secondary-dark), 5%),
      lighten(color(secondary-light), 5%)
    );
  }

  // Large button used for used for forms
  &Large {
    @include button;
    background: linear-gradient(
    to top,
    color(secondary-dark),
    color(secondary-light)
    );
    width: $input-width;
    height: $input-height;
    font-size: 1.5rem;
    color: white;

    a {
      color: #fff;
      font-weight: 500;
    }
  }

  &Medium {
    @include button;
    background: linear-gradient(
    to top,
    color(secondary-dark),
    color(secondary-light)
    );
    width: 26rem;
    height: $input-height;
    font-size: 1.4rem;
    color: white;

    &:hover {
      background: linear-gradient(
        to top,
        lighten(color(secondary-dark), 5%),
        lighten(color(secondary-light), 5%)
      );
    }

    a {
      color: #fff;
      font-weight: 500;
    }
  }
}

.dark {
  @extend %btn;
  background: color(csxGray);
  color: white;

  &:hover {
    background: #6d6d6d;
  }
}

.light {
  padding: 1rem 2.5rem;
  border: none;
  background-color: transparent;
  color: color(csxDarkGray);
  font-size: 1.2rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    background: color(csxDarkGray);
    color: #fff;
  }

  &:not(:last-child) {
    border-right: 1px solid color(csxLightGray);
  }
}

// Buttons styles for tab sections
.tab {
  height: 5rem;
  width: 25.5rem;
  border: none;
  background-color: transparent;
  color: color(csxDarkGray);
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.1s ease;

  &:hover {
    cursor: pointer;
    background: color(csxDarkGray);
    color: #fff;
  }

  &:not(:last-child) {
    border-right: 2px solid color(csxLightGray);
  }
}

// CLass gives tabs the arrow on the bottom and is applied when a tab is clicked on
.activeTab {
  height: 5rem;
  width: 25.5rem;
  border: none;
  background: color(csxDarkGray);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.1s ease;

  &:focus {
    background: color(csxDarkGray);
    color: #fff;
  }
  
  &:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    margin-left: -1rem;
    width: 0;
    height: 0;
    border-top-style: solid;
    border-top-width: 1rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top-color: color(csxDarkGray);
  }
  
  &:hover {
    cursor: pointer;
  }
}

// Styles for buttons with a white border and transparent background
.transparent {
  @include transp-button(color(csxLightGray));

  &:hover {
    cursor: pointer;
    background-color: color(csxLightGray);
    color: color(primary-dark);
  }
}

// Styles for  buttons with a green border and transparent background
.transparentGreen {
  @include transp-button(color(secondary-light));

  &:hover {
    // background: linear-gradient(to top, lighten(color(secondary-dark), 5%), lighten(color(secondary-light), 5%));
    cursor: pointer;
    background-color: color(secondary-light);
    color: #fff;
  }

  &:active {
    background-color: darken(color(secondary-light), 8%);
    border: 4px solid darken(color(secondary-light), 8%);
  }
}

.transparentGreenSm {
  padding: 0.5rem 1.5rem;
  width: 10rem;
  height: 3rem;
  border-radius: $primary-radius;
  font-size: 1.2rem;
  border: 4px solid color(secondary-light);
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: color(secondary-light);
  transition: 0.1s all ease;

  &:hover {
    // background: linear-gradient(to top, lighten(color(secondary-dark), 5%), lighten(color(secondary-light), 5%));
    cursor: pointer;
    background-color: color(secondary-light);
    color: #fff;
  }

  &:active {
    background-color: darken(color(secondary-light), 8%);
    border: 4px solid darken(color(secondary-light), 8%);
  }
}


// Button used on some forms, has blue text and blue underline
.link {
  // NOTE: Sam changed 2018-11-02 to facilitate button anchor styling
  // display: inline-block;
  // padding: 1px 1px;
  // margin-left: 2px;
  // font-size: 1.6rem;
  // color: color(primary);
  // border: none;
  // background: none;
  // text-decoration: underline color(primary);
  background: transparent;
  font-size: 1.5rem;
  border: none;
  padding: 5px 1rem;
  text-decoration: none;
  // color: #7DD0BE;
  color: color(secondary-light);
  font-weight: 700;

  &:hover {
    cursor: pointer;
    // color: darken(color(primary), 5);
  }
}

.darkLink {
  background: transparent;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid color(darkGrayText);
  text-transform: uppercase;
  padding: 5px 1rem;
  transition: .3s all ease;
  z-index: 1;

  &::before {
    content: '';
    height: 0%;
    width: 100%;
    background-color: color(darkGrayText);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s all ease;
    z-index: -1;
  }

  &:hover {
    cursor: pointer;
    color: #fff;

    &::before {
      height: 100%;
    }
  }

  a {
    color: #fff;
    font-weight: 500;
    color: color(darkGrayText);
  }
}

// This button is used in the application process to keep track of the page
.tracker {
  width: $input-width;
  height: $input-height;
  margin-bottom: 2rem;
  padding-left: 3rem;
  border: none;
  text-align: left;
  background-color: #fff;
  font-size: 1.5rem;
  color: color(darkGray);

  &:hover {
    cursor: pointer;
  }
}

.activeTracker {
  width: $input-width;
  height: $input-height;
  margin-bottom: 2rem;
  padding-left: 3rem;
  border-left: 1rem solid #0F3181;
  border-top: none;
  border-right: none;
  border-bottom: none;
  text-align: left;
  background-color: #fff;
  font-size: 1.5rem;
  color: color(darkGray);

  &:hover {
    cursor: pointer;
  }
}

// Foating nave button
.floatingNav {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.inline {
  display: inline;
}

.marginRight {
  margin-right: 5px;
}

.marginLeft {
  margin-left: 5px;
}
