@import "../../shared/utils/all";

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: color(text);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
  color: color(text);

  // must explicitly set a tags to override default a styling
  a {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  color: color(text);
}

.headline3 {
  font-size: 1.6rem;
  color: color(text);
}


// h2 {
//   font-size: 1.8rem;
//   font-weight: 700;
//   line-height: 1.6;
//   color: color(text);
// }

// size 15 all caps. For example, used on the software engineer names
h5 {
  font-size: 1.5rem;
  // text-transform: uppercase;
  margin: 1rem 0;
}

.h2-small {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  color: color(text);
}

// h3 {
//   font-size: 1.5rem;
//   line-height: 1.6;
//   // text-transform: uppercase;
//   color: color(text);
// }

.h3-blue {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

// h5 {
//   font-size: 1.5rem;
//   line-height: 1.6;
//   text-transform: uppercase;
// }
