@import "../../shared/utils/all";

.list {
  font-size: 1.5rem; 
  color: color(grayDarkText2);
  margin-top: 1.6rem;
}

.eventList {
  margin: 0;
  font-size: 1.5rem; 
  color: color(grayDarkText2);
}

.pipe {

}

.item {

}