@import "../../shared/utils/_all";

.title {
  font-weight: bold;
  color: color(grayDarkText);
}

.body2 {
  font-size: 1.5rem;
  color: color(grayDarkText2);
}

.inline {
  display: inline;
}

.headline2 {
  font-size: 1.8rem;
  color: color(grayDarkText);
}

.headline3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: color(grayDarkText);
}

.headline3NoMargin {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  color: color(grayDarkText);
}

.headline3BoldInline {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  display: inline;
  color: color(grayDarkText);
}

.header3Inline {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  display: inline;
  color: color(grayDarkText);
}

.headline4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #A3B0BA;
}


.eventHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  color: color(grayDarkText);
}