@import "../../../shared/utils/all";
@import "../../../shared/forms/validation";

.group {
  width: 100%;
  
  label {
    display: block;
  }

  textarea {
    font-size: 1.3rem;
    color: color(grayDark);
    padding: 1rem;
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}